@{
    ViewBag.Title = "About";
}


<h2>À propos !</h2>


<p>Bienvenue sur notre application.</p>
<p>Celle-ci vous vous permet, en vous authentifiant, de tenir un journal de vos activités agricoles.<br>
Avec un système de géolocalisation, sélectionnez la parcelle que vous avez travaillé et indiquez ce que vous avez fait (plantation de légumes, fauchage, bois...). Cette activité sera automatiquement répertoriée. Vous pouvez également voir toute les activités agricoles effectuées sur des parcelles dans toute la Haute-Saône.</p>
