
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<body>
    <h1>Déplacer le curseur sur votre parcelle</h1>
    <div id="map" style="height:600px;width:1200px;"></div>

    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Ajouter parcelle</button>

    <!-- Modal -->
    <div class="modal" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Init map -->
    <script type="text/javascript">

        function initMap() {

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 20
            });

            var marker = null;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    map.setCenter(pos);

                    marker = new google.maps.Marker({
                        position: { lat: pos.lat, lng: pos.lng },
                        map: map,
                        draggable: true,
                        animation: google.maps.Animation.DROP,
                    });

                    function addMarker() {

                    }
                },
                    function () {
                        handleLocationError(true, map.getCenter());
                    });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, pos) {

        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdLwyoDixq_X_Az65ZJX-GN5gTtKvQ27o&callback=initMap"></script>
</body>
</html>