@model SP.MVC.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <h1>Déplacer le curseur sur votre parcelle</h1>
    <div id="map" style="height:45em;"></div>

    <!-- Init map -->
    <script type="text/javascript">

        function initMap() {

            var hauteSaone = { lat: 47.6323361, Lng: 6.134775 };

            var map = new google.maps.Map(document.getElementById('map'), {
                center: hauteSaone,
                zoom: 20
            });

            var marker = null;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    var contentString = '<div>' +

                        '<form action="@Url.Content("~/Home/AddParcelle")" method="post"><input name="__RequestVerificationToken" type="hidden" value="tzcQkGxozIMTwRFIw1imxxqxdbwmouQKDGLTcSt__pSMx5x1Zm5GqjMRI2r4Kl6Uxo0B41xVkuPRrRDUt3LjKL5RDtu4pj6b4wT9P_cOX6k1" />    <div class="form-horizontal"><h4>Nouvelle parcelle</h4><hr />' +
                            '<div class="form-group"><label class="control-label col-md-2" for="name">Nom</label><div class="col-md-10"><input class="form-control text-box single-line" id="name" name="name" type="text" value="" /><span class="field-validation-valid text-danger" data-valmsg-for="name" data-valmsg-replace="true"></span></div></div>' +
                            '<div class="form-group"><label class="control-label col-md-2" for="lat">Latitude</label><div class="col-md-10"><input class="form-control text-box single-line" id="lat" name="lat" type="text" value="" /><span class="field-validation-valid text-danger" data-valmsg-for="lat" data-valmsg-replace="true"></span></div></div>' +
                            '<div class="form-group"><label class="control-label col-md-2" for="lng">Longitude</label><div class="col-md-10"><input class="form-control text-box single-line" id="lng" name="lng" type="text" value="" /><span class="field-validation-valid text-danger" data-valmsg-for="lng" data-valmsg-replace="true"></span></div></div>' +
                            '<div class="form-group"><label class="control-label col-md-2" for="ville">Ville</label><div class="col-md-10"><input class="form-control text-box single-line" id="ville" name="ville" type="text" value="" /><span class="field-validation-valid text-danger" data-valmsg-for="ville" data-valmsg-replace="true"></span></div></div>' +

                            '<div class="form-group"><div class="col-md-offset-2 col-md-10"><input type="submit" value="Create" class="btn btn-default" /></div></div>' +
                        '</div></form>' +
                        '</div>';

                    var infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });

                    map.setCenter(pos);

                    marker = new google.maps.Marker({
                        position: { lat: pos.lat, lng: pos.lng },
                        map: map,
                        draggable: true,
                        animation: google.maps.Animation.DROP,
                    });

                    marker.addListener('click', function () {
                        infowindow.open(map, marker);
                        document.getElementById('lat').value = marker.getPosition().lat();
                        document.getElementById('lng').value = marker.getPosition().lng();
                    });

                    marker.addListener('dragend', function () {
                        document.getElementById('lat').value = marker.getPosition().lat();
                        document.getElementById('lng').value = marker.getPosition().lng();
                    });
                },
                    function () {
                        handleLocationError(true, map.getCenter());
                    });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, pos) {

        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdLwyoDixq_X_Az65ZJX-GN5gTtKvQ27o&callback=initMap"></script>
</body>
</html>